<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Cliente</title>
</head>
<body>
    <center>
        <h2>Cadastro Cliente</h2>
    <form method="post">
        Nome: <input type="text" name="nome" 
            placeholder="Digite seu nome!"><br>
        Telefone: <input type="text" name="telefone" 
            placeholder="Digite seu telefone!"><br>
        Data de Aniversário: <input type="date" name="data" 
            placeholder="Digite sua data de nascimento!"><br>
        CPF: <input type="text" name="cpf"
            placehorder="Digite seu CPF!"><br>
            
        <input type="submit" value="Enviar">
    </form>
</center>
</body>
</html>