<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Atendente</title>
</head>
<body>
    <center>
        <h>Edite o Cadastro Atendente</h>
    <form method="post" enctype="multipart/form-data">
        Nome: <input value="<%=atendente.nome%>" type="text" name="nome" 
            placeholder="Digite seu nome"><br>
        Função: <input value="<%=atendente.funcao%>" type="text" name="funcao" 
            placeholder="Digite sua função!"><br>
        Carga: <input value="<%=atendente.carga%>" type="text" name="carga" 
            placeholder="Digite sua carga horária!"><br>
        Foto: <input required value="<%=atendente.foto%>" type="file" name="foto"><br>
            
        <input type="submit" value="Enviar">
    </form>
</center>
</body>
</html>